{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Sign In!</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" name="username" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                    <label for="username">User Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light grey darken-3 col s12" type="submit" name="action">
                    Log In
                  </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}