{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Sign Up!</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('signup') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" name="username" class="validate">
                    <label for="username">User Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light grey darken-3 col s12" type="submit" name="action">
                    Submit
                  </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}